/* body {
  font-family: monospace;
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  color: $foreground;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
} */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  //background: rgba(245, 245, 245, 0.48);
  background-color: #dfc89b;
  //background: #cce2c2;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  //background-color: antiquewhite;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scrollbar-gutter: stable both-edges;
}
